## Homework 3 - Pandas and Matplotlib

#### The [Titanic](https://en.wikipedia.org/wiki/RMS_Titanic) was a famous cruise ship that sank after running into an iceburg. The [movie that was made about the Titanic](https://en.wikipedia.org/wiki/Titanic_(1997_film)) was one of the highest grossing films of all times. 

#### This Notebook uses Pandas and Matplotlib to explore the Titanic disaster

Imports we will need and set up matplotlib to plot in the correct place

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

1.) Read the data from the Internet into Pandas (1 point)

In [36]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/07_Visualization/Titanic_Desaster/train.csv'
# read from the above url

2.) How many rows and columns does this dataset have? (1 point)

In [37]:
# code here

3.) How many women and how many men were onboard the Titanic (according to this dataset)? (2 points)

In [38]:
# code here

4.) The Titanic had multiple fair classes. This is analogous to first class, business class, and economy tickets today. Create a scatter plot showing the fair paid by age. If you've imported matplotlib as plt, then a scatter plot is done by plt.scatter(x,y). Within the titanic dataset, the columns to use are 'Age' and 'Fare'. Place age on the x-axis and fare on the y-axis. Label each axis and set a title. (4 points)

In [39]:
# code here

5.) Let's repeat question 4, but this time separate out men and women. We want to create one scatter plot with women and men plotted together using different color dots. Add a legend so we know which color goes with which data. (6 points)

In [40]:
# code here

6.) Create to separate histograms within one visualization window - what matplotlib calls a subplot. The top panel should be a histogram of women fares and the bottom panel a histogram of men fares. Matplotlib's hist function has an option input 'bins' that we can use to set the size of the bins in our histogram. From the scatter plots above we can see that the highest paid fare is jus over 500. Let's use this information to have the histogram bins range from 0 to 550 and each bin have a width of 10. We can do this using numpy's arange function: binVal = np.arange(0,550,10) and then pass this to hist() as: plt.hist(data, bins=binVal) (4 points)

In [41]:
# code here

7.) Our dataset has a column labeled 'Survived'. This column has two possible values 0 and 1. 0 indicates the person did not survive the sinking of the Titanic. 1 indicates the person did survive. How many people survived and how many did not? (2 points)

In [42]:
# code here

Option Bonus Question: 2 points extra credit. How many men survived and how many women survived?

In [43]:
# code here