In [1]:
import pandas as pd
import numpy as np

In [24]:
url = "http://narock.github.io/teaching/CST-411/chipotle.tsv"
data = pd.read_csv(url, sep='\t') 
data.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

## head() gives us a sample of the table. The shape command tells us the full size of the table. The results are given as (number of rows, number of columns)

In [25]:
data.shape

(4622, 5)

## What if we don't want to see the whole table? No problem. Just list the columns you'd like to view

In [44]:
data[['item_name','item_price']][0:5]

                               item_name  item_price
0           Chips and Fresh Tomato Salsa        2.39
1                                   Izze        3.39
2                       Nantucket Nectar        3.39
3  Chips and Tomatillo-Green Chili Salsa        2.39
4                           Chicken Bowl       16.98

### Indexing by column name will list all the values in that column

In [26]:
data['item_name']

0                Chips and Fresh Tomato Salsa
1                                        Izze
2                            Nantucket Nectar
3       Chips and Tomatillo-Green Chili Salsa
4                                Chicken Bowl
5                                Chicken Bowl
6                               Side of Chips
7                               Steak Burrito
8                            Steak Soft Tacos
9                               Steak Burrito
10                        Chips and Guacamole
11                       Chicken Crispy Tacos
12                         Chicken Soft Tacos
13                               Chicken Bowl
14                        Chips and Guacamole
15      Chips and Tomatillo-Green Chili Salsa
16                            Chicken Burrito
17                            Chicken Burrito
18                                Canned Soda
19                               Chicken Bowl
20                        Chips and Guacamole
21                           Barbacoa Burrito
22                           Nantucket Nectar
23                            Chicken Burrito
24                                       Izze
25               Chips and Fresh Tomato Salsa
26                               Chicken Bowl
27                           Carnitas Burrito
28                                Canned Soda
29                            Chicken Burrito
                        ...
4592                         Barbacoa Burrito
4593                            Carnitas Bowl
4594                            Barbacoa Bowl
4595                             Chicken Bowl
4596                      Chips and Guacamole
4597                        Canned Soft Drink
4598                            Bottled Water
4599                             Chicken Bowl
4600                      Chips and Guacamole
4601                        Canned Soft Drink
4602                         Barbacoa Burrito
4603                         Barbacoa Burrito
4604                             Chicken Bowl
4605                      Chips and Guacamole
4606                        Canned Soft Drink
4607                            Steak Burrito
4608                           Veggie Burrito
4609                        Canned Soft Drink
4610                            Steak Burrito
4611                           Veggie Burrito
4612                            Carnitas Bowl
4613                                    Chips
4614                            Bottled Water
4615                       Chicken Soft Tacos
4616                      Chips and Guacamole
4617                            Steak Burrito
4618                            Steak Burrito
4619                       Chicken Salad Bowl
4620                       Chicken Salad Bowl
4621                       Chicken Salad Bowl
Name: item_name, Length: 4622, dtype: object

### We can use the column name and a range to list a subset of all the rows

In [27]:
data['item_name'][0:5]

0             Chips and Fresh Tomato Salsa
1                                     Izze
2                         Nantucket Nectar
3    Chips and Tomatillo-Green Chili Salsa
4                             Chicken Bowl
Name: item_name, dtype: object

### Pandas has some handy functions for working with tabular data. The sum() function will add up all the values in a column. Let's look at the total revenue for Chipotle. In other words, let's multiply the quantity by the price and sum up all the values

In [35]:
revenue = (data['quantity']*data['item_price']).sum()
print("$" + str(revenue))

$39237.02

### We can create a new column in our data just by giving it a name and a value

In [40]:
data['revenue'] = data['quantity']*data['item_price']
data.head()

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

### Another usefule Pandas function is groupby(). We can, for example, combine all the items for each order

In [32]:
# group by column 'order_id' and sum up the columns in each group
order_grouped = data.groupby(by=['order_id']).sum()
print(order_grouped[0:2]) # show an example

          quantity  item_price
order_id
1                4       11.56
2                2       16.98

## What is the average order amount?

In [38]:
av = order_grouped.mean()['item_price']
print(av)

18.81142857142869

### The numpy library has numerical libraries. Let's use the rounding function to better format this output

In [39]:
print('Average order was: $' + str(np.round(av,2)))

Average order was: $18.81

## Back to slides

In [48]:
c = data[ (data['item_price'] > 10.00) | (data['quantity'] > 4) ]
c.head()

,order_id,quantity,item_name,choice_description,item_price,revenue
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98,10.98

In [56]:
chipo_drink = data[(data['item_name'] == "Canned Soda") & (data['quantity'] > 1)]
chipo_drink.shape

(20, 6)